a, a:hover {
	text-decoration: none;
}

body {
	font-family: "微軟正黑體", serif;
	min-height: 800px;
}

.nav-inline>li{
	display: inline;
/*	padding: 0;
*/	/*float: left;*/
}

.nav-block, .nav-block>ul>li{
	list-style: none;
	padding: 0;
}

/*.nav-dropdown-menu {
	position: absolute;
	z-index: 999;
	display: none;
}*/

.nav-pic {
	width: 120px;
	height: 120px;
	border: 1px solid;
}

.logo-pic{
	width: 300px;
	height: 100px;
}

.big-pic{
	width: 900px;
	height: 600px;
}

.edu, .pro,
.edu-card,
.product-card {
	cursor: pointer;
}

.mega-menu {
	position: absolute;
	z-index: 999;
	background-color: #444;
	padding: 10px 0px;
	width: 65%;
	margin-top: 4px;
	margin-left: 0px;
	display: none;
}

.mega-menu a {
	color: #fff;
}

.mega-menu li {
	display: inline-block;
	float: left;
	font-size: 1.5rem;
	padding: 3px 0px;
	color: #fff;
	cursor: pointer;
}

.mega-menu li.mega-menu-column {
	margin-right: 20px;
	width: 120px;
}

.mega-menu-column li {
	display: block;
}

.mega-title a{
	color: #FFDDAA;
}

li.mega-title {
	font-size: 1.7rem;
}

footer {
	bottom: 0px;
	float: right;
	background-color: #444;
	opacity: 0.6;
	color: #fff;
	width: 100%;
}

footer a {
	color: #fff;
}

footer>ul {
	float: right;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	height: 45px;
	background-color: #111;
}

nav>ul {
	padding-top: 10px;
	padding-left: 20%;
}

li.nav-item {
	text-align: center;
	padding: 12px 20px;
}

li.nav-item:hover {
	background-color: #444;
}

li.nav-item>a {
	color: #fff;
	margin-bottom: 10px;
}

.body-describe {
	margin-top: 180px;
}

#eduBeforePic, #eduAfterPic {
	width: 120%;
	height: 420px;
	border: 10px solid;
	background-color: #FA8072;
}

.sm-square {
	text-align: center;
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 50px 50px 50px 0px;
	background-color: #DDD;
	border-radius: 0.5em;
}

.tags {
	margin-top: 50px;
}

.all-product {
	margin-top: 10px;
	display: none;
}

.product-pic {
/*	max-width: 160px;*/
	max-height: 160px;
	padding: 0;
}

.step-pic {
	width: 100%;
	padding: 10px 0px;
	/*height: 500px;*/
}

.step-box {
	background-color: #DDD;
	border-radius: 1em;
	margin-top: 10px;
}

.other-pic {
	width: 80%;
	padding-top: 10px;
	/*height: 300px;*/
}

.sm-att {
	background-color: #DDD;
}

.edu-card:hover,
.product-card:hover,
.know-card:hover,
.other-card:hover {
	background-color: rgba(255,255,255,0.5);
	border-radius: 1em;
	color: #000;
}

.edu-card,
.product-card,
.know-card {
	color: #fff;
}

.edu-card-pic {
	width: 100%;
/*	height: 360px;*/
	padding: 10px 0px;
}

.pro-card-pic {
	width: 100%;
	/*height: 350px;*/
	padding: 10px 0px;
}

.know-card-pic {
	width: 80%;
	/*height: 350px;*/
	padding: 20px 0px;
}

.pro-bg-pic {
	width: 100%;
	padding: 10px;
	/*height: 500px;*/
}

.pro-sm-pic {
	width: 100%;
	padding: 10px 0px;
}

.right {
	float: right;
}

.white {
	color: #fff;
}

.step-cnt{
	background-color: #E65C5C;
	color: #fff;
	font-size: 24px;
	padding: 5px;
	width: 12%;
	border-radius: 0.5em;
}

.step-cnt-f{
	background-color: #E65C5C;
	color: #fff;
	font-size: 24px;
	padding: 5px;
	width: 20%;
	border-radius: 0.5em;
}

#eduTitle{
	font-size:3em;
  	margin: 10 0 0px;
  	outline: 0px;
  	border: 0px;
  	padding: .5px 10px 10px 0px;
  	color:#FFF;
}

.eduTop{
	border-radius:.5em;
	background-color: #F08080;
	  	color:#FFF;
}

.proTop{
	border-radius:.5em;
	background-color: rgb(34,181,115);
	padding: 20px 0px;
}

hr{
	margin-top: 0px;
  	margin-bottom: 20px;
  	border: 0;
  	border-top: 1px solid #eee;
}

#eduEasy,#eduStepCounts{
	color: #696969;
}

.body-describe{
	outline: 1px dashed #fff;
  	outline-offset: 10px;
}

.trans-title1 {
	background-color: #F08080;
	border-radius: 0.3em;
	padding: 10px 20px;
}

.trans-title2 {
	background-color: #FFFF4D;
	border-radius: 0.3em;
	padding: 10px 20px;
}

.begin-body {
	background-color: rgba(0,169,157,0.5);
	border-radius: .5em;
}

.begin-step {
	margin-top: 30px;
	color: #fff;
}

.begin-step>p {
	font-size: 1.9rem;
}

.know-body {
	color: #111;
	background-color: rgba(255,255,77,1);
	border-radius: .5em;
}

.other-card {
	color: #fff;
	border: 1px;
	border-radius: .5em;
}

.other-card a {
	color: #fff;
}

.abus-pic {
	opacity: 0.5;
	width: 100%;
}

.abus-body {
	color: rgba(255,255,255,0.2);
}
#proRight{
	border-radius:.5em;
	background-color: rgb(255, 255, 102);
}
