a, a:hover {
	text-decoration: none;
}

body {
	font-family: "微軟正黑體", serif;
}

.nav-inline>li{
	display: inline;
/*	padding: 0;
*/	/*float: left;*/
}

.nav-block, .nav-block>ul>li{
	list-style: none;
	padding: 0;
}

/*.nav-dropdown-menu {
	position: absolute;
	z-index: 999;
	display: none;
}*/

nav, .logo-pic {
	top: 10px;
}

nav {
	float: right;
	margin-right: 15%;
}

.nav-pic {
	width: 120px;
	height: 120px;
}

.nav-pic:hover {
	background-color: #444;
}

.logo-pic{
	width: 300px;
	height: 100px;
	margin-left: 12%;
}

.big-pic{
	width: 900px;
}

.mega-menu {
	position: absolute;
	z-index: 999;
	background-color: #444;
	padding: 10px 0px;
	width: 70%;
	margin-top: 0px;
	margin-left: -30%;
	display: none;
}

.mega-menu a {
	color: #fff;
}

.mega-menu li {
	display: inline-block;
	float: left;
	font-size: 1.7rem;
	padding: 5px 0px;
	cursor: pointer;
}

.mega-menu li.mega-menu-column {
	margin-right: 20px;
	width: 120px;
}

.mega-menu-column li {
	display: block;
}

li.mega-title {
	font-size: 2rem;
	padding: 10px 0px;
}

.mega-title a{
	color: #FFDDAA;
}

footer {
	float: right;
	background-color: #444;
	opacity: 0.6;
	color: #fff;
	width: 100%;
}

footer a {
	color: #fff;
}

nav.nav_3 {
	height: 100px;
	background-color: #444;
}

nav.nav_3>ul {
	padding-top: 70px;
}

li.nav-item {
	text-align: center;
	padding: 12px 20px;
}

li.nav-item:hover {
	background-color: #111;
}

li.nav-item>a {
	color: #fff;
	margin-bottom: 10px;
}

#indexEduPic1,
#indexEduPic2,
#indexEduPic3 {
	height: 500px;
}